    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'seriePOOA.css' %}" />
     <script type="text/javascript" src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'seriePOOA.js' %}"></script>

    <meta charset="UTF-8">

{% block blocUser %}
    <div class="row col-xs-12 col-md-12">
        <div class="col-xs-2 col-md-2">
            <a href="/index/">Page d'accueil</a>
        </div>
        <div class="col-xs-8 col-md-8"></div>
        <div class="col-xs-2 col-md-2">
            {% if request.session.user is not None %}
                Welcome back {{ request.user.username }}!
                 <a href="/logout/">Log out</a>
            {% else %}
                <div class="row block-login" >
                <div class="col-xs-12 col-md-12">
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#log_in_modal">Log in</button>
                </div>
                <div class="row block-signin">
                    <div class="col-xs-12 col-md-12">
                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#sign_in_modal">Sign in</button>
                    </div>
                </div>

      {% endif %}
        </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="log_in_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Log in</h4>
            </div>
            <div class="modal-body">
            {{ message }}
                 <form id="authentication_form" action="/logIn/" method="post">
                    {% csrf_token %}
                    {{ form }}
                     <div id="authentication_error" hidden="true">
                         Wrong authentication !
                     </div>
                     <div id="not_logged_in_favorite" hidden="true">
                         Please log in!
                     </div>
                    <label for="user_name">Username</label>
                    <input type="text" name="user_name"/>
                    <br/>
                    <label for="password">Password</label>
                    <input type="password" name="password"/>
                     <button onclick="logIn()">Log In</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="sign_in_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Sign in</h4>
            </div>
            <div class="modal-body">
            {{ message }}
                 <form id="registration_form" action="/signIn/" method="post">
                     {% csrf_token %}
                     {{ form }}
                     <div id="registration_error" hidden="true">
                         Invalid username or username already used by someone else.
                         <br>
                         Please try another one.
                     </div>
                     <label for="username">Username</label>
                     <input type="text" name="username"/>
                     <br/>
                     <label for="email">Email</label>
                     <input type="text" name="email"/>
                     <br/>
                     <label for="password">Password</label>
                     <input type="password" name="password"/>
                     <button onclick="signIn()">Sign In</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock blocUser %}
