<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'seriePOOA.css' %}" />
     <script type="text/javascript" src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'seriePOOA.js' %}"></script>

    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <div >
        <button class="button-login" onclick="clicButtonLogIn()">Log in</button>
    </div>
    <div>

        <h2>Recherches dans notre base de données</h2>

        <h3>Rechercher une série</h3>

            <form action="/search/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="text" name="search"/>
            <input type="submit" value="Rechercher" />
            </form>

        <h3>Rechercher une personne</h3>

            <form action="/search_people/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="text" name="searchp"/>
            <input type="submit" value="Rechercher" />
            </form>

    </div>

    <br/>
Ceci est la page d'accueil et je la modifie en live !!!!!!!
    <br>

    <div>

        <h2>Tops 20</h2>

        <h3>Top 20 Séries :</h3>

        <ul>{%  for series in bestseries %}
            <li>{{series}}</li>
            {% endfor %}
        </ul>

    </div>

</body>

<div class="modal" id="log_in_modal">

    {{ message }}
     <form id="authentication_form" action="/logIn/" method="post">
        {% csrf_token %}
        {{ form }}

        <label for="user_name">Prénom</label>
        <input type="text" name="user_name"/>
        <br/>
        <label for="password">Password</label>
        <input type="password" name="password"/>
         <button  onclick="logIn()">Log In</button>
    </form>

    <button id="close_modal_log_in" onclick="clicButtonCloseModalLogIn()">Close</button>
</div>
</html>