<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'seriePOOA.css' %}" />
     <script type="text/javascript" src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'seriePOOA.js' %}"></script>
    {% include  "blocUser.html" %}

    <meta charset="UTF-8">
    <title>SeriesPOOA</title>
</head>
<body>

<div id="header" class="">
  {% block blocUser %}
{% endblock blocUser %}

</div>

<div id="left_sidebar">

</div>

<div id="right_sidebar">

</div>
<div id="content">
     <div>
        <h2>Recherches dans notre base de données</h2>

        <h3>Rechercher une série ou une personne</h3>

            <form action="/search/" method="post">
            {% csrf_token %}
            {{ form }}
            <label> People </label><input type="radio" name="tick" value="people"><br>
            <label> Series </label><input type="radio" name="tick" value="series"><br>
            <input type="text" name="search"/>
            <input type="submit" value="Rechercher" />
            </form>

    </div>
    <div>

        <h2>Tops 20</h2>

        <h3>Top 20 Séries :</h3>

        <ul>{%  for series in bestseries %}
            <li>{{series}}</li>
            {% endfor %}
        </ul>

        <h3>Top 20 Séries de la semaine :</h3>

        <ul>{%  for series in airingseries %}
            <li>{{series}}</li>
            {% endfor %}
        </ul>

    </div>
</div>

</body>

</html>