<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'seriePOOA.css' %}" />
     <script type="text/javascript" src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'seriePOOA.js' %}"></script>


    <meta charset="UTF-8">
    <title<SeriesPOOA</title>
</head>
<body>
<div id="header" class="">
  {% if logged %}
      Welcome back {{ userName }} !
      {% else %}
       <div >
        <button class="btn btn-primary btn-lg button-login" data-toggle="modal" data-target="#log_in_modal">Log in</button>
        </div>
  {% endif %}



<!-- Modal -->
<div class="modal fade" id="log_in_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Log in</h4>
            </div>
            <div class="modal-body">
            {{ message }}
                 <form id="authentication_form" action="/logIn/" method="post">
                    {% csrf_token %}
                    {{ form }}
                     <div id="authentication_error" hidden="true">
                         Wrong authentication !
                     </div>
                    <label for="user_name">Prénom</label>
                    <input type="text" name="user_name"/>
                    <br/>
                    <label for="password">Password</label>
                    <input type="password" name="password"/>
                     <button onclick="logIn()">Log In</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

<div id="left_sidebar">

</div>

<div id="right_sidebar">

</div>
<div id="content">
     <div>
        <h2>Recherches dans notre base de données</h2>

        <h3>Rechercher une série</h3>

            <form action="/search/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="text" name="search"/>
            <input type="submit" value="Rechercher" />
            </form>

        <h3>Rechercher une personne</h3>

            <form action="/search_people/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="text" name="searchp"/>
            <input type="submit" value="Rechercher" />
            </form>
    </div>
    <br/>
Ceci est la page d'accueil et je la modifie en live !!!!!!!
    <br>
    <div>
        <h2>Tops 20</h2>

        <h3>Top 20 Séries :</h3>

        <ul>{%  for series in bestseries %}
            <li>{{series}}</li>
            {% endfor %}
        </ul>
    </div>
</div>

</body>

</html>