{% block blocPerso %}
    <h2>Mon espace personnel</h2>
    {% if request.session.user is not None %}
        <div class="row col-xs-12 col-md-12">
           <h3>Mes séries favorites :</h3>
                <ul>{%  for serie in favoriteListe %}
                    <li>{{serie.name}}</li>
                    {% endfor %}
                </ul>
        </div>
    {% else %}
        <div class="row col-xs-12 col-md-12">
            <p>Authentifiez-vous pour bénéficier de votre espace personnalisé</p>
        </div>
    {% endif %}


{% endblock blocPerso %}