<!DOCTYPE html>
<html lang="en">
<head>
   {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'seriePOOA.css' %}" />
     <script type="text/javascript" src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
    <meta charset="UTF-8">
    <title>Search result</title>
</head>
Page de résultat de la recherche, voici les résultats People: </br> </br>
<ul>
{% for item in response %}
    <li>{{item}}</li>
{% endfor %}
</ul>
</body>
</html>