{%  block searchResult %}
    <div id="searchResult">
        <div class = "searchResult row col-xs-12 col-md-12">
            <h2>Recherches dans notre base de données</h2>
            <h3>Rechercher une série ou une personne</h3>
            <form id="searchForm" action="/search/" method="post">
                {% csrf_token %}
                {{ form }}
                <label> People </label><input type="radio" name="tick" value="people"><br>
                <label> Series </label><input type="radio" name="tick" value="series" checked="checked"><br>
                <input type="text" name="search"/>
                <input id="submitButton" type="submit" value="Rechercher" onclick="clickButtonSearch()"/>
            </form>

        </div>

    <div class = "searchResult row col-xs-12 col-md-12">
        Page de résultat de la recherche, voici les résultats : </br> </br>
        <ul>
        {% for item in response %}
            <h2>{{item.name}}
                {% if item.isFavorite %}
                    <a class ="glyphicon glyphicon-star" onclick="clickButtonRemoveFromFavorites({{ item.id }})"></a>
                {% else %}
                     <a class ="glyphicon glyphicon-star-empty" onclick="clickButtonAddToFavorites({{ item.id }})"></a>
                {% endif %}
            </h2>
                <li>{{item.overview}}</li>
                <li> <img src="https://image.tmdb.org/t/p/w500{{item.poster_path}}" width="161" height="240"
                 alt="Image de la série" /> </li>
                <li>{{item.status}}</li>
            {% if item.is_coming_soon %}
                <li>Prochaine episode : <i>{{item.episode_coming_soon_name}}</i> - Sortie le {{ item.episode_coming_soon_air_date }}</li>
            {% endif %}
            {% if item.is_netflix %}
                <li>Série Netflix : tous les épisodes sont disponibles</li>
            {% endif %}



            </ul>
            <br>
        {% endfor %}
        </ul>

    </div>

    <div class = "searchResult row col-xs-12 col-md-12">
        <h2>Genres</h2>

        <form>
            <select name = "genre">
            {% for item in dict_genres %}
               <option value = "{{ item.value }}"></option>
                {% endfor %}
            </select>

        </form>

    </div>
    </div>
{%  endblock searchResult %}
</body>