<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'seriePOOA.css' %}" />
     <script type="text/javascript" src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'seriePOOA.js' %}"></script>

    <meta charset="UTF-8">
    <title>SeriesPOOA</title>
</head>
<body>

{%  block searchResult %}
        <div class = "searchResult row col-xs-12 col-md-12">
            <h2>Recherches dans notre base de données</h2>
            <h3>Rechercher une série ou une personne</h3>
            <form action="/search/" method="post">
                {% csrf_token %}
                {{ form }}
                <label> People </label><input type="radio" name="tick" value="people"><br>
                <label> Series </label><input type="radio" name="tick" value="series" checked="checked"><br>
                <input type="text" name="search"/>
                <input type="submit" value="Rechercher"/>
            </form>

        </div>

    <a href="/index/">Page d'accueil</a>
    <br><br>

    <div class = "searchResult row col-xs-12 col-md-12">
        Page de résultat de la recherche, voici les résultats : </br> </br>
        <ul>
        {% for item in response %}
            <h2>{{item.name}}
                {% if item.isFavorite %}
                    <a class ="glyphicon glyphicon-star" href="/removeFromFavorites/{{ item.id }}"></a>
                {% else %}
                     <a class ="glyphicon glyphicon-star-empty" href="/addToFavorites/{{ item.id }}"></a>
                {% endif %}
            </h2>
                <li>{{item.overview}}</li>
                <li> <img src="https://image.tmdb.org/t/p/w500{{item.poster_path}}" width="161" height="240"
                 alt="Image de la série" /> </li>
                <li>{{item.vote_count}}</li>
            </ul>
            <br>
        {% endfor %}
        </ul>
    </div>

    <div class = "searchResult row col-xs-12 col-md-12">
        <h2>Genres</h2>

        <form>
            <select name = "genre">
            {% for item in dict_genres %}
               <option value = "{{ item.value }}"></option>
                {% endfor %}
            </select>

        </form>

    </div>
{%  endblock searchResult %}
</body>